/**
* Icons are from:
* http://icomoon.io/app/
* http://www.iconarchive.com/show/ios7-icons-by-icons8.html
* http://www.iconarchive.com/show/windows-8-icons-by-icons8.html
**/

@import '../../css/b-opciones';

html, body {
  height: 100%;
}

/* IE10-11 styles */

html {
  &[data-useragent*='MSIE 10.0'] .fm-container .fm-header button, &[data-useragent*='MSIE 11.0'] .fm-container .fm-header button {
    vertical-align: top;
  }
  &[data-useragent*='MSIE 10.0'] .fm-container #file-input-container, &[data-useragent*='MSIE 11.0'] .fm-container #file-input-container {
    width: 220px;
    height: 32px;
    overflow: hidden;
  }
  &[data-useragent*='MSIE 10.0'] .fm-container #filepath, &[data-useragent*='MSIE 11.0'] .fm-container #filepath {
    height: 22px;
  }
  &[data-useragent*='MSIE 10.0'] .fm-container #newfile, &[data-useragent*='MSIE 11.0'] .fm-container #newfile {
    height: 23px;
  }
}

.fm-container {
  * {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    box-sizing: content-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: content-box;
  }
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
  .fm-wrapper {
    height: 100%;
    padding: 10px;
  }
  .fm-header {
    display: block;
    text-align: right;
    height: auto;
    min-height: 30px;
    overflow: hidden;
    .breadcrumbs {
      display: block;
      float: left;
      padding: 0 10px;
      line-height: 40px;
      font-size: 0.9em;
      font-weight: bold;
      * {
        float: left;
        line-height: 40px;
        vertical-align: middle;
      }
      .separator {
        color: transparent;
        margin: 0 5px;
        font-size: 10px;
      }
      .nav-title {
        margin-right: 10px;
        display: none;
      }
      .nav-item {
        &:not(.active) {
          cursor: pointer;
        }
        &.root {
          width: 20px;
          height: 20px;
          margin: 10px 0;
          background-image: url(../images/house.png);
          background-size: 20px;
        }
      }
    }
    .buttons-panel {
      float: right;
      margin-bottom: 0.5em;
    }
    .button-group {
      display: inline-block;
      margin: 0;
      padding: 0;
      button {
        cursor: pointer;
        padding: 0 8px;
        line-height: 40px;
        min-width: 40px;
        box-sizing: border-box;
        margin: 0 0px;
        &.separator {
          background: none;
          max-width: 5px;
          padding-left: 0;
          padding-right: 0;
          margin: 1px 5px 0;
          border: none;
          cursor: default;
        }
      }
    }
  }
  button {
    display: inline-block;
    color: #777777;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    padding: 0.1em 0.3em;
    text-decoration: none;
    margin: 0 0.2em 0.5em 0.2em;
    line-height: 1.7em;
    cursor: pointer;
    &:hover {
      background-color: #ffffff;
    }
  }
  .fm-header button span, .fm-fileinfo button span {
    display: block;
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;
    white-space: nowrap;
  }
  button {
    &:active, &:focus {
      color: #000;
      outline-color: transparent;
      outline-style: none;
      outline-width: 0;
    }
  }
  .fm-header {
    button {
      &.no-label span {
        background-position: center center;
      }
      &.active {
        background: none repeat scroll 0 0 #F9F8F7;
        border-style: inset;
      }
    }
    .btn-home-folder span {
      background-image: url(../images/house.png);
    }
    .btn-level-up span {
      background-image: url(../images/level-up.png);
    }
    .btn-grid-mode span {
      background-image: url(../images/application_view_icons.png);
    }
    .btn-list-mode span {
      background-image: url(../images/application_view_list.png);
    }
    .btn-create-folder span {
      background-image: url(../images/folder_add.png);
    }
    .btn-close-window span {
      background-image: url(../images/reset_dark.png);
    }
    .btn-clipboard-cut span {
      background-image: url(../images/clipboard/clipboard_cut.png);
    }
    .btn-clipboard-copy span {
      background-image: url(../images/clipboard/clipboard_copy.png);
    }
    .btn-clipboard-paste span {
      background-image: url(../images/clipboard/clipboard_paste.png);
    }
    .btn-clipboard-clear span {
      background-image: url(../images/clipboard/clipboard_clear.png);
    }
    .fm-upload {
      span {
        background-image: url(../images/upload.png);
      }
      &.loading span {
        background-image: url(../images/ajax-loader.gif);
        color: #555555;
        font-size: 0.9em;
      }
    }
  }
  .fm-splitter {
    height: 100%;
    .splitter-bar-vertical {
      width: 6px;
      background: url(../images/vgrabber.gif) no-repeat center;
    }
    > * {
      /* to override height defined by splitter */
      height: 100% !important;
    }
  }
  .fm-filetree {
    overflow-y: auto;
    overflow-x: auto;
    color: #333;
    margin: 0;
    padding: 5px 0 0 5px;
    li {
      padding: 0;
      margin: 0;
      font-size: 0;
      list-style: none;
      line-height: 22px;
      text-align: left;
      white-space: nowrap;
      outline: 0;
      ul {
        margin: 0;
        padding: 0 0 0 18px;
        &.line {
          background: url(../images/filetree/line_conn.gif) 0 0 repeat-y;
        }
      }
      > div.row {
        position: absolute;
        left: 0;
        width: 100%;
        height: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      &.drop-hover > {
        div.row {
          background-color: #bbbbbb;
        }
        a {
          color: #000000;
        }
      }
      &.ui-selected > {
        div.row {
          background-color: #b8c6da;
        }
        a {
          color: #000000;
        }
      }
      > a {
        position: relative;
        font-size: 13px;
        padding: 1px 3px 0 0;
        margin: 0;
        cursor: pointer;
        height: 22px;
        background-color: transparent;
        text-decoration: none;
        vertical-align: top;
        display: inline-block;
        &:hover {
          color: #000000;
          background-color: #b8c6da;
          text-decoration: none;
        }
        &.curSelectedNode {
          padding-top: 0;
          background-color: #FFE6B0;
          color: black;
          height: 16px;
          border: 1px #FFB951 solid;
          opacity: 0.8;
        }
      }
      span {
        position: relative;
        line-height: 16px;
        &.button {
          line-height: 0;
          margin: 0;
          width: 16px;
          height: 16px;
          display: inline-block;
          vertical-align: middle;
          border: 0 none;
          cursor: pointer;
          outline: none;
          vertical-align: top;
          background-color: transparent;
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-image: url("../images/filetree/preset.png");
          *background-image: url("../images/filetree/preset.gif");
          &.switch {
            width: 18px;
            height: 18px;
          }
          &.root_open {
            background-position: -92px -54px;
          }
          &.root_close {
            background-position: -74px -54px;
          }
          &.roots_open {
            background-position: -92px 0;
          }
          &.roots_close {
            background-position: -74px 0;
          }
          &.center_open {
            background-position: -92px -18px;
          }
          &.center_close {
            background-position: -74px -18px;
          }
          &.bottom_open {
            background-position: -92px -36px;
          }
          &.bottom_close {
            background-position: -74px -36px;
          }
          &.noline_open {
            background-position: -92px -72px;
          }
          &.noline_close {
            background-position: -74px -72px;
          }
          &.root_docu {
            background: none;
          }
          &.roots_docu {
            background-position: -56px 0;
          }
          &.center_docu {
            background-position: -56px -18px;
          }
          &.bottom_docu {
            background-position: -56px -36px;
          }
          &.noline_docu {
            background: none;
          }
        }
      }
    }
  }
  .fm-fileinfo {
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    text-align: center;
    color: #333;
    padding: 0;
    margin: 0;
    * {
      font-size: 13px;
    }
    .fm-loading-view {
      width: 30px;
      height: 30px;
      margin: 100px auto 0;
      background: url(../images/spinner.gif) no-repeat center center;
    }
    .fm-renderer-container {
      display: block;
      text-align: left;
      margin: 0 auto;
      width: 100%;
    }
    .view-items-wrapper .fm-renderer-wrapper {
      margin-top: 25px;
      margin-bottom: 25px;
      flex: 0 1 auto;
    }
    div.CodeMirror {
      text-align: left;
      height: auto;
      * {
        font-family: monospace;
        line-height: 17px;
        font-size: 16px;
      }
      &.CodeMirror-fullscreen {
        width: 100%;
        margin: 0;
        z-index: 9;
      }
    }
    .fm-renderer-container div.CodeMirror {
      padding: 10px;
      background-color: #FFFFFF;
    }
  }
  .fm-preview .fm-preview-edit-panel div.CodeMirror {
    background-color: #FFFFFF;
  }
  .fm-preview-wrapper {
    height: 100%;
  }
  .fm-preview {
    position: relative;
    width: 100%;
    .fm-preview-viewer {
      margin: 0;
      img {
        max-width: 80%;
      }
    }
    .fm-preview-edit-panel, .fm-preview-view-panel .fm-js-viewer {
      width: 100%;
      border: 1px solid #eee;
      margin: 0 auto;
    }
    .fm-preview-edit-panel button {
      color: black;
    }
    .fm-preview-viewer.side-by-side-panels {
      .fm-preview-edit-panel {
        float: left;
        width: 49%;
      }
      .fm-preview-view-panel {
        margin-left: 51%;
      }
      .fm-renderer-container {
        width: 100%;
      }
    }
    .fm-preview-details {
      width: 400px;
      margin: 20px auto;
      table {
        width: 100%;
      }
      td {
        width: 50%;
        padding: 4px;
        text-align: left;
        border-bottom: 1px dotted #ccc;
        &:nth-child(2) {
          font-weight: bold;
        }
      }
    }
    .fm-preview-toolbar {
      margin-top: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
      text-align: right;
      background: rgba(#F4F1ED, 0.5);
      button {
        cursor: pointer;
      }
      form {
        text-align: left;
        display: inline-block;
      }
    }
    .btn-file-preview-close span {
      background-image: url(../images/parentfolder.png);
    }
    .btn-file-select span {
      background-image: url(../images/accept.png);
    }
    .btn-file-download span {
      background-image: url(../images/download.png);
    }
    .btn-file-rename span {
      background-image: url(../images/tag.png);
    }
    .btn-file-move span {
      background-image: url(../images/move.png);
    }
    .btn-file-delete span {
      background-image: url(../images/bin_closed.png);
    }
    .btn-file-edit span {
      background-image: url(../images/edit_dark.png);
    }
    .btn-file-save span {
      background-image: url(../images/save_dark.png);
    }
    .btn-file-editor-close span {
      background-image: url(../images/reset_dark.png);
    }
    .fm-preview-title {
      margin: 10px auto;
      h1 {
        font-size: 20px;
        display: inline-block;
      }
    }
    .fm-preview-title-controls {
      display: inline-block;
      margin-left: 1em;
      a {
        display: inline-block;
        vertical-align: bottom;
        width: 18px;
        height: 18px;
        margin: 0 0.2em;
      }
    }
    .btn-editor-open {
      background: url(../images/edit.png) no-repeat center center;
    }
    .btn-editor-save {
      background: url(../images/save.png) no-repeat center center;
    }
    .btn-editor-quit {
      background: url(../images/reset.png) no-repeat center center;
    }
    .btn-copy-url {
      background: url(../images/copy.png) no-repeat center center;
    }
  }
  input, button {
    vertical-align: text-top;
  }
  #file-input-container {
    display: inline;
    margin: 0;
    position: relative;
    top: 0;
    width: 255px;
    height: 32px;
    overflow: hidden;
  }
  #newfile {
    position: absolute;
    top: 0;
    right: 0;
    height: 28px;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity = 0);
    cursor: pointer;
    border: 1px solid blue;
  }
  .hidden-file-input {
    display: inline-block;
    overflow: hidden;
    visibility: hidden;
    width: 1px;
    z-index: -1;
  }
  #alt-fileinput {
    display: inline;
  }
  #filepath {
    margin: 0;
    padding: 0 5px;
    line-height: 26px;
    background-color: #F4F1ED;
    border: 1px solid #dcdcdc;
  }
  button#browse {
    margin-left: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-height: 16px;
    min-width: 40px;
    span {
      margin: 0;
      padding: 0;
      background: url(../images/plus.png) no-repeat center center;
      display: block;
      color: #666;
      text-shadow: none;
    }
  }
  .fm-footer {
    .right {
      float: right;
    }
    .left {
      float: left;
    }
  }
  #folder-info {
    display: inline-block;
    font-size: 0.8em;
    color: #777;
    padding: 1.3em 0.5em 0 1.3em;
  }
  #summary {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/summary.png) no-repeat center center;
    cursor: pointer;
  }
  #link-to-project {
    height: 12px;
    width: 45px;
    display: inline-block;
    background: transparent url(../images/fmlogo.png) no-repeat 0 0;
    margin: 1em 1em 0 1em;
  }
  .search-box {
    position: absolute;
    input {
      background-color: #ffffff;
      border: 1px solid #dcdcdc;
      margin: 0.5em 0 0;
      padding: 0.1em 0.3em;
      line-height: 1.7em;
      width: 200px;
      &:focus {
        background-color: #ffffff;
      }
    }
    .search-box-reset {
      position: absolute;
      width: 16px;
      height: 16px;
      background: url(../images/reset_dark.png) no-repeat center center;
      opacity: 0.5;
      right: 6px;
      top: 12px;
      cursor: pointer;
    }
  }
  .fm-splitter .mCSB_container_wrapper {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .fm-fileinfo .mCSB_container.mCS_no_scrollbar_y, .view-items-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
  }
  .view-items {
    position: relative;
    width: 100%;
    flex: 1 1 auto;
    .grid {
      padding: 15px;
      text-align: left;
      li {
        display: inline-block;
        width: 142px;
        height: 142px;
        text-align: center;
        overflow: hidden;
        margin: 10px;
        cursor: pointer;
        border: 1px solid white;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        &:hover:not(.ui-selected) {
          border: 1px solid #E5E5E5;
          background-color: #F7F7F7;
        }
      }
      .item-content {
        height: 100%;
        overflow: hidden;
        .clip {
          width: 64px;
          height: 64px;
          margin: 10px auto;
          overflow: hidden;
        }
      }
      p {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        white-space: nowrap;
      }
      li.drop-hover {
        background-color: #e0e0e0;
      }
    }
    .list {
      tr.drop-hover {
        background-color: #e0e0e0;
      }
      tbody tr {
        .list-item {
          display: inline-block;
          min-width: 200px;
          padding: 4px;
          cursor: pointer;
        }
        &:hover:not(.ui-selected) {
          background-color: #eee;
        }
      }
      width: 100%;
      th {
        padding: 6px;
        text-align: center;
        white-space: nowrap;
      }
      thead {
        background: rgba(#000000, 0);
        border-bottom: 0px solid #ccc;
        line-height: 20px;
      }
      th {
        font-weight: bold;
        cursor: pointer;
        background: rgba(#F4F1ED, 0.5);
        text-transform: uppercase;
        span {
          font-size: 14px;
        }
        &:hover {
         background: rgba(#000000, 0.13);
        }
        &.sorted-asc, &.sorted-desc {
         background: rgba(#000000, 0.08);
        }
        &.sorted-asc span {
          display: block;
          width: 100%;
          margin-right: 35px;
          background-image: url(../images/bullet_arrow_up.png);
          background-repeat: no-repeat;
          background-position: right center;
        }
        &.sorted-desc span {
          display: block;
          width: 100%;
          margin-right: 35px;
          background-image: url(../images/bullet_arrow_down.png);
          background-repeat: no-repeat;
          background-position: right center;
        }
      }
      td {
        text-align: left;
        white-space: nowrap;
        vertical-align: middle;
        border-bottom: 1px dotted #ccc;
        &:first-child {
          width: 100%;
        }
      }
      .list-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .context-menu-list {
    min-width: 150px;
    background-color: #F4F1ED;
  }
  .context-menu-item {
    font-size: 12px;
    margin: 2px 0;
    background-color: #F4F1ED;
    &:before {
      content: " ";
      position: absolute;
      width: 16px;
      height: 16px;
      left: 6px;
      top: 0;
    }
    &.context-menu-hover {
      background-color: #BDF;
    }
    &.context-menu-disabled {
      opacity: 0.6;
      color: inherit;
      background-color: inherit;
    }
    &.select:before {
      background-image: url(../images/accept.png);
    }
    &.download:before {
      background-image: url(../images/download.png);
    }
    &.rename:before {
      background-image: url(../images/tag.png);
    }
    &.move:before {
      background-image: url(../images/move.png);
    }
    &.extract:before {
      background-image: url(../images/extract.png);
    }
    &.delete:before {
      background-image: url(../images/bin_closed.png);
    }
    &.create-folder:before {
      background-image: url(../images/folder_add.png);
    }
    &.copy-url:before {
      background-image: url(../images/copy_url.png);
    }
    &.cut:before {
      background-image: url(../images/clipboard/clipboard_cut.png);
    }
    &.copy:before {
      background-image: url(../images/clipboard/clipboard_copy.png);
    }
    &.paste:before {
      background-image: url(../images/clipboard/clipboard_paste.png);
    }
  }
  .drag-helper {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    overflow: hidden;
    margin: 0;
    border: 1px solid white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 1000;
    .clip {
      width: 60px;
      height: 60px;
      margin: 10px auto;
      overflow: hidden;
    }
    .item-content {
      height: 100%;
      overflow: hidden;
      z-index: 1;
      opacity: 0.9;
    }
    .item-background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #B6CDEC;
      opacity: 0.5;
      z-index: 1;
    }
    .dragging-counter {
      position: absolute;
      top: 30px;
      width: 100%;
      text-align: center;
      z-index: 2;
      span {
        display: inline-block;
        margin-left: 10px;
        padding: 0.2em 0.3em;
        background-color: #4e68e7;
        border: 1px solid #FFF;
        border-radius: 5px;
        font-size: 14px !important;
        font-family: monospace;
        font-weight: bold;
        color: #FFF;
      }
    }
    .dragging-stop {
      display: none;
      position: absolute;
      bottom: 5px;
      right: 5px;
      margin: 0;
      z-index: 2;
      .cancel-image {
        width: 20px;
        height: 20px;
        margin: 0 auto;
        background: url(../images/fileicons/drag-n-drop/cancel-4.png) center center no-repeat;
        background-size: cover;
      }
    }
    &.drop-restricted .dragging-stop {
      display: block;
    }
  }
  .ui-selectable-helper {
    position: absolute;
    border: 1px dotted black;
    z-index: 100;
  }
  .view-items {
    .ui-selecting, .ui-selected {
      background-color: #CED9E9;
    }
  }
}

/** Input file Replacement */

/** Input file Replacement - end */

/* to expand selectable area to 100% vertically in case no scroll */

/** Context menu **/

/** Drag & Drop **/

/** Selectable items **/

/** Modal dialog by Alertify plugin */

.fm-popup.alertify {
  font-family: Oxygen, Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.fm-log.alertify-logs {
  font-family: Oxygen, Lucida Sans Unicode, Lucida Grande, sans-serif;
  position: absolute;
  font-size: 15px;
  line-height: 13px;
}

.fm-popup.alertify {
  .alert, .dialog {
    text-align: center;
    font-size: 13px;
  }
  .alert > *, .dialog > * {
    width: auto;
    display: inline-block;
  }
  .alert [data-alertify-btn-holder] [data-alertify-btn]:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button), .dialog [data-alertify-btn-holder] [data-alertify-btn]:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button) {
    font-size: 15px;
    line-height: 32px;
    min-height: 32px;
  }
  div.prompt-info {
    line-height: 12px;
    min-height: 15px;
    margin-top: 5px;
    padding-left: 25px;
    color: #444;
    background: transparent url(../images/info.png) no-repeat 0 0;
    background-position: left center;
  }
  .fm-fileupload-container {
    width: auto;
    min-width: 200px;
    max-width: 825px;
    h2 {
      font-size: 1.2em;
      font-weight: bold;
    }
    #total-progress {
      width: 100%;
      height: 5px;
      margin-bottom: 10px;
      background-color: #A7A1C6;
      overflow: hidden;
      .progress-bar {
        height: 5px;
        background-color: #294750;
      }
    }
  }
  #summary-popup {
    font-size: 1.2em;
    .title {
      font-weight: bold;
      margin-bottom: 0.8em;
    }
    .line {
      line-height: 1.4em;
    }
  }
}

/** ICONS - List view and File tree related styles **/

.fm-container {
  .list-icon.ico_folder, li span.button.ico_folder {
    background: url(../images/filetree/ico_folder.png) left top no-repeat;
  }
  .list-icon.ico_folder_lock, li span.button.ico_folder_lock {
    background: url(../images/filetree/ico_folder_lock.png) left top no-repeat;
  }
  .list-icon.ico_folder_open, li span.button.ico_folder_open {
    background: url(../images/filetree/ico_folder_open.png) left top no-repeat;
  }
  .list-icon.ico_file, li span.button.ico_file {
    background: url(../images/filetree/ico_file.png) left top no-repeat;
  }
  .list-icon.ico_file_lock, li span.button.ico_file_lock {
    background: url(../images/filetree/ico_file_lock.png) left top no-repeat !important;
  }
  .list-icon.ico_loading, li span.button.ico_loading {
    background: url(../images/filetree/loading.gif) left top no-repeat;
  }
  .list-icon.ico_ext_3g2, li span.button.ico_ext_3g2, .list-icon.ico_ext_3gp, li span.button.ico_ext_3gp {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
  }
  .list-icon.ico_ext_7z, li span.button.ico_ext_7z {
    background: url(../images/filetree/ico_zip.png) left top no-repeat;
  }
  .list-icon.ico_ext_afp, li span.button.ico_ext_afp, .list-icon.ico_ext_afpa, li span.button.ico_ext_afpa, .list-icon.ico_ext_asp, li span.button.ico_ext_asp, .list-icon.ico_ext_aspx, li span.button.ico_ext_aspx {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
  }
  .list-icon.ico_ext_avi, li span.button.ico_ext_avi {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
  }
  .list-icon.ico_ext_bat, li span.button.ico_ext_bat {
    background: url(../images/filetree/ico_application.png) left top no-repeat;
  }
  .list-icon.ico_ext_bmp, li span.button.ico_ext_bmp {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
  }
  .list-icon.ico_ext_c, li span.button.ico_ext_c, .list-icon.ico_ext_cfm, li span.button.ico_ext_cfm, .list-icon.ico_ext_cgi, li span.button.ico_ext_cgi {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
  }
  .list-icon.ico_ext_com, li span.button.ico_ext_com {
    background: url(../images/filetree/ico_application.png) left top no-repeat;
  }
  .list-icon.ico_ext_cpp, li span.button.ico_ext_cpp {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
  }
  .list-icon.ico_ext_css, li span.button.ico_ext_css {
    background: url(../images/filetree/ico_css.png) left top no-repeat;
  }
  .list-icon.ico_ext_csv, li span.button.ico_ext_csv {
    background: url(../images/filetree/ico_txt.png) left top no-repeat;
  }
  .list-icon.ico_ext_doc, li span.button.ico_ext_doc, .list-icon.ico_ext_docx, li span.button.ico_ext_docx {
    background: url(../images/filetree/ico_doc.png) left top no-repeat;
  }
  .list-icon.ico_ext_exe, li span.button.ico_ext_exe {
    background: url(../images/filetree/ico_application.png) left top no-repeat;
  }
  .list-icon.ico_ext_gif, li span.button.ico_ext_gif {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
  }
  .list-icon.ico_ext_f4v, li span.button.ico_ext_f4v, .list-icon.ico_ext_fla, li span.button.ico_ext_fla, .list-icon.ico_ext_flv, li span.button.ico_ext_flv {
    background: url(../images/filetree/ico_flash.png) left top no-repeat;
  }
  .list-icon.ico_ext_h, li span.button.ico_ext_h {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
  }
  .list-icon.ico_ext_htm, li span.button.ico_ext_htm, .list-icon.ico_ext_html, li span.button.ico_ext_html {
    background: url(../images/filetree/ico_html.png) left top no-repeat;
  }
  .list-icon.ico_ext_jar, li span.button.ico_ext_jar {
    background: url(../images/filetree/ico_java.png) left top no-repeat;
  }
  .list-icon.ico_ext_jpg, li span.button.ico_ext_jpg, .list-icon.ico_ext_jpeg, li span.button.ico_ext_jpeg {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
  }
  .list-icon.ico_ext_js, li span.button.ico_ext_js {
    background: url(../images/filetree/ico_script.png) left top no-repeat;
  }
  .list-icon.ico_ext_lasso, li span.button.ico_ext_lasso {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
  }
  .list-icon.ico_ext_log, li span.button.ico_ext_log {
    background: url(../images/filetree/ico_txt.png) left top no-repeat;
  }
  .list-icon.ico_ext_m4p, li span.button.ico_ext_m4p {
    background: url(../images/filetree/ico_music.png) left top no-repeat;
  }
  .list-icon.ico_ext_m4v, li span.button.ico_ext_m4v, .list-icon.ico_ext_mov, li span.button.ico_ext_mov {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
  }
  .list-icon.ico_ext_mp3, li span.button.ico_ext_mp3 {
    background: url(../images/filetree/ico_music.png) left top no-repeat;
  }
  .list-icon.ico_ext_mp4, li span.button.ico_ext_mp4, .list-icon.ico_ext_mpg, li span.button.ico_ext_mpg, .list-icon.ico_ext_mpeg, li span.button.ico_ext_mpeg {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
  }
  .list-icon.ico_ext_odp, li span.button.ico_ext_odp {
    background: url(../images/filetree/ico_ppt.png) left top no-repeat;
  }
  .list-icon.ico_ext_ods, li span.button.ico_ext_ods {
    background: url(../images/filetree/ico_xls.png) left top no-repeat;
  }
  .list-icon.ico_ext_odt, li span.button.ico_ext_odt {
    background: url(../images/filetree/ico_doc.png) left top no-repeat;
  }
  .list-icon.ico_ext_ogv, li span.button.ico_ext_ogv {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
  }
  .list-icon.ico_ext_ogg, li span.button.ico_ext_ogg {
    background: url(../images/filetree/ico_music.png) left top no-repeat;
  }
  .list-icon.ico_ext_pcx, li span.button.ico_ext_pcx {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
  }
  .list-icon.ico_ext_pdf, li span.button.ico_ext_pdf {
    background: url(../images/filetree/ico_pdf.png) left top no-repeat;
  }
  .list-icon.ico_ext_php, li span.button.ico_ext_php {
    background: url(../images/filetree/ico_php.png) left top no-repeat;
  }
  .list-icon.ico_ext_png, li span.button.ico_ext_png {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
  }
  .list-icon.ico_ext_ppt, li span.button.ico_ext_ppt, .list-icon.ico_ext_pptx, li span.button.ico_ext_pptx {
    background: url(../images/filetree/ico_ppt.png) left top no-repeat;
  }
  .list-icon.ico_ext_psd, li span.button.ico_ext_psd {
    background: url(../images/filetree/ico_psd.png) left top no-repeat;
  }
  .list-icon.ico_ext_pl, li span.button.ico_ext_pl, .list-icon.ico_ext_py, li span.button.ico_ext_py {
    background: url(../images/filetree/ico_script.png) left top no-repeat;
  }
  .list-icon.ico_ext_rar, li span.button.ico_ext_rar {
    background: url(../images/filetree/ico_zip.png) left top no-repeat;
  }
  .list-icon.ico_ext_rb, li span.button.ico_ext_rb, .list-icon.ico_ext_rbx, li span.button.ico_ext_rbx, .list-icon.ico_ext_rhtml, li span.button.ico_ext_rhtml {
    background: url(../images/filetree/ico_ruby.png) left top no-repeat;
  }
  .list-icon.ico_ext_rpm, li span.button.ico_ext_rpm {
    background: url(../images/filetree/ico_linux.png) left top no-repeat;
  }
  .list-icon.ico_ext_ruby, li span.button.ico_ext_ruby {
    background: url(../images/filetree/ico_ruby.png) left top no-repeat;
  }
  .list-icon.ico_ext_sql, li span.button.ico_ext_sql {
    background: url(../images/filetree/ico_db.png) left top no-repeat;
  }
  .list-icon.ico_ext_swf, li span.button.ico_ext_swf {
    background: url(../images/filetree/ico_flash.png) left top no-repeat;
  }
  .list-icon.ico_ext_tar, li span.button.ico_ext_tar {
    background: url(../images/filetree/ico_zip.png) left top no-repeat;
  }
  .list-icon.ico_ext_tif, li span.button.ico_ext_tif, .list-icon.ico_ext_tiff, li span.button.ico_ext_tiff {
    background: url(../images/filetree/ico_picture.png) left top no-repeat;
  }
  .list-icon.ico_ext_txt, li span.button.ico_ext_txt {
    background: url(../images/filetree/ico_txt.png) left top no-repeat;
  }
  .list-icon.ico_ext_vb, li span.button.ico_ext_vb {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
  }
  .list-icon.ico_ext_wav, li span.button.ico_ext_wav, .list-icon.ico_ext_weba, li span.button.ico_ext_weba {
    background: url(../images/filetree/ico_music.png) left top no-repeat;
  }
  .list-icon.ico_ext_webm, li span.button.ico_ext_webm, .list-icon.ico_ext_wmv, li span.button.ico_ext_wmv {
    background: url(../images/filetree/ico_film.png) left top no-repeat;
  }
  .list-icon.ico_ext_xls, li span.button.ico_ext_xls, .list-icon.ico_ext_xlsx, li span.button.ico_ext_xlsx {
    background: url(../images/filetree/ico_xls.png) left top no-repeat;
  }
  .list-icon.ico_ext_xml, li span.button.ico_ext_xml {
    background: url(../images/filetree/ico_code.png) left top no-repeat;
  }
  .list-icon.ico_ext_zip, li span.button.ico_ext_zip {
    background: url(../images/filetree/ico_zip.png) left top no-repeat;
  }
  .grid-icon {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -200%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .fm-fileinfo {
    .view-items .grid-icon {
      width: 64px;
      height: 64px;
    }
    .fm-preview .grid-icon {
      width: 128px;
      height: 128px;
    }
  }
  .grid-icon {
    &.ico_file {
      background-image: url(../images/fileicons/icon_file.png);
    }
    &.ico_file_lock {
      background-image: url(../images/fileicons/icon_file_lock.png);
    }
    &.ico_folder {
      background-image: url(../images/fileicons/icon_folder.png);
    }
    &.ico_folder_lock {
      background-image: url(../images/fileicons/icon_folder_lock.png);
    }
    &.ico_folder_parent {
      background-image: url(../images/fileicons/icon_folder_parent.png);
    }
    &.ico_multiple {
      background-image: url(../images/fileicons/icon_multiple.png);
    }
    &.ico_ext_3g2, &.ico_ext_3gp {
      background-image: url(../images/fileicons/icon_movie.png);
    }
    &.ico_ext_7z {
      background-image: url(../images/fileicons/icon_zip.png);
    }
    &.ico_ext_aac {
      background-image: url(../images/fileicons/icon_aac.png);
    }
    &.ico_ext_avi {
      background-image: url(../images/fileicons/icon_avi.png);
    }
    &.ico_ext_bmp {
      background-image: url(../images/fileicons/icon_bmp.png);
    }
    &.ico_ext_chm {
      background-image: url(../images/fileicons/icon_chm.png);
    }
    &.ico_ext_css {
      background-image: url(../images/fileicons/icon_css.png);
    }
    &.ico_ext_csv {
      background-image: url(../images/fileicons/icon_txt.png);
    }
    &.ico_ext_dll {
      background-image: url(../images/fileicons/icon_dll.png);
    }
    &.ico_ext_doc, &.ico_ext_docx {
      background-image: url(../images/fileicons/icon_doc.png);
    }
    &.ico_ext_fla {
      background-image: url(../images/fileicons/icon_fla.png);
    }
    &.ico_ext_gif {
      background-image: url(../images/fileicons/icon_gif.png);
    }
    &.ico_ext_htm, &.ico_ext_html {
      background-image: url(../images/fileicons/icon_html.png);
    }
    &.ico_ext_ini {
      background-image: url(../images/fileicons/icon_ini.png);
    }
    &.ico_ext_jar {
      background-image: url(../images/fileicons/icon_jar.png);
    }
    &.ico_ext_jpg, &.ico_ext_jpeg {
      background-image: url(../images/fileicons/icon_jpg.png);
    }
    &.ico_ext_js {
      background-image: url(../images/fileicons/icon_js.png);
    }
    &.ico_ext_lasso {
      background-image: url(../images/fileicons/icon_lasso.png);
    }
    &.ico_ext_m4p {
      background-image: url(../images/fileicons/icon_music.png);
    }
    &.ico_ext_m4v {
      background-image: url(../images/fileicons/icon_movie.png);
    }
    &.ico_ext_mdb {
      background-image: url(../images/fileicons/icon_mdb.png);
    }
    &.ico_ext_mov {
      background-image: url(../images/fileicons/icon_mov.png);
    }
    &.ico_ext_mp3 {
      background-image: url(../images/fileicons/icon_mp3.png);
    }
    &.ico_ext_mp4 {
      background-image: url(../images/fileicons/icon_movie.png);
    }
    &.ico_ext_mpg {
      background-image: url(../images/fileicons/icon_mpg.png);
    }
    &.ico_ext_mpeg {
      background-image: url(../images/fileicons/icon_movie.png);
    }
    &.ico_ext_odp {
      background-image: url(../images/fileicons/icon_odp.png);
    }
    &.ico_ext_ods {
      background-image: url(../images/fileicons/icon_ods.png);
    }
    &.ico_ext_odt {
      background-image: url(../images/fileicons/icon_odt.png);
    }
    &.ico_ext_ogg {
      background-image: url(../images/fileicons/icon_music.png);
    }
    &.ico_ext_pcx {
      background-image: url(../images/fileicons/icon_image.png);
    }
    &.ico_ext_ogv {
      background-image: url(../images/fileicons/icon_movie.png);
    }
    &.ico_ext_pdf {
      background-image: url(../images/fileicons/icon_pdf.png);
    }
    &.ico_ext_php {
      background-image: url(../images/fileicons/icon_php.png);
    }
    &.ico_ext_png {
      background-image: url(../images/fileicons/icon_png.png);
    }
    &.ico_ext_ppt, &.ico_ext_pptx {
      background-image: url(../images/fileicons/icon_ppt.png);
    }
    &.ico_ext_py {
      background-image: url(../images/fileicons/icon_py.png);
    }
    &.ico_ext_rar {
      background-image: url(../images/fileicons/icon_zip.png);
    }
    &.ico_ext_rb {
      background-image: url(../images/fileicons/icon_rb.png);
    }
    &.ico_ext_real {
      background-image: url(../images/fileicons/icon_real.png);
    }
    &.ico_ext_reg {
      background-image: url(../images/fileicons/icon_reg.png);
    }
    &.ico_ext_rtf {
      background-image: url(../images/fileicons/icon_rtf.png);
    }
    &.ico_ext_sql {
      background-image: url(../images/fileicons/icon_sql.png);
    }
    &.ico_ext_swf {
      background-image: url(../images/fileicons/icon_swf.png);
    }
    &.ico_ext_tar {
      background-image: url(../images/fileicons/icon_zip.png);
    }
    &.ico_ext_tif, &.ico_ext_tiff {
      background-image: url(../images/fileicons/icon_image.png);
    }
    &.ico_ext_txt {
      background-image: url(../images/fileicons/icon_txt.png);
    }
    &.ico_ext_vbs {
      background-image: url(../images/fileicons/icon_vbs.png);
    }
    &.ico_ext_wav {
      background-image: url(../images/fileicons/icon_wav.png);
    }
    &.ico_ext_weba {
      background-image: url(../images/fileicons/icon_music.png);
    }
    &.ico_ext_webm {
      background-image: url(../images/fileicons/icon_movie.png);
    }
    &.ico_ext_wma {
      background-image: url(../images/fileicons/icon_wma.png);
    }
    &.ico_ext_wmv {
      background-image: url(../images/fileicons/icon_wmv.png);
    }
    &.ico_ext_xls, &.ico_ext_xlsx {
      background-image: url(../images/fileicons/icon_xls.png);
    }
    &.ico_ext_xml {
      background-image: url(../images/fileicons/icon_xml.png);
    }
    &.ico_ext_xsl {
      background-image: url(../images/fileicons/icon_xsl.png);
    }
    &.ico_ext_zip {
      background-image: url(../images/fileicons/icon_zip.png);
    }
  }
}

/** ICONS - List view and File tree related styles based on file extension **/

/** ICONS - Grid view related styles **/

/** ICONS - Grid view related styles based on file extension **/