@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import 'font-awesome/font-awesome';
@import 'b-opciones';
@import 'b-mixins';
@import 'b-base';

//COLORES DELTA5//
$blanco:#ffffff;
$negro: #000000;
$amarillo: #f8e000;
$azul: #008ac7;
$verde: #95b734;
$naranja: #e08019;
$grisClaro: #edeef0;
$grisMedio: #c2c3c9;
$grisOscuro: #5e5e61;


body {
	main { left: $menu-ancho; }

	&.menu-collapsed {
		main { left: $menu-ancho-collapsed !important; }

		nav.menu {
			width: $menu-ancho-collapsed;

			a {
				padding-left: 13px;

				span { opacity: 0; }
			}

			.bt-mode i {
				left: 14px;
				&:last-child { left: 0; }
			}

			ul {

				li.active {
					a {
						padding-left: 11px;

						&::after { right: $menu-ancho - $menu-ancho-collapsed - 3; }

					}
				}

				ul a i {
					left: 0;
				}
			}
		}

		.embebido {
			left: $menu-ancho-collapsed;
			width: calc(100vw - #{$menu-ancho-collapsed});
		}
	}
}

header.cab {
	background-color: $header-fondo;
	//border-bottom: 2px solid lighten($header-fondo, 15%);
	color: $header-texto-color;
	height: $header-height;
	position: relative;
	z-index: 2;

	a {
		color: inherit;
		text-decoration: none;
	}

	.logo {
		@include alignY;
		left: 40px;

		img {
			display: block;
			height: $header-height - 20;
		}
	}

	//P: mover a admin
	.user-options {
		@include alignY;
		font-size: 1.1em;
		right: 40px;

		a { margin-left: 15px; }

		span { display: none; }

		.user-exit {
			$tam: 26px;

			background-color: $color1;
			border: 2px solid #FFF;
			border-radius: 50%;
			display: inline-block;
			line-height: $tam;
			text-align: center;
			transition: all .25s;
			width: $tam;

			i {
				position: relative;
				top: -1px;
			}

			&:hover {
				background-color: $color2;
				border-color: $color2;
			}
		}

		.user-profile {
			border-bottom: 2px solid transparent;
			padding-bottom: 0;
			display: inline-block;
			transition: all .25s;

			&:hover {
				border-color: $color1-contraste;
				padding-bottom: 4px;
			}

			i {
				font-size: 1.2em;
				margin-right: 3px;
			}
		}
	}
}

footer.pie {
	background-color: $footer-fondo;
	bottom: 0;
	padding: 2px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);

	.euphorbia {
		display: block;
	}

	.toTop {
		@include alignY;

		$tam: 30px;

		background-color: $color1;
		border-radius: $tam / 2;
		color: $color1-contraste;
		cursor: pointer;
		display: none;
		height: $tam;
		right: -10px;
		width: $tam;

		i {
			@include alignXY;
			font-size: 1.1em;
			margin-top: -2px;
		}

		span { display: none; }
	}
}

nav.menu {
	background-color: $menu-fondo;
	bottom: 0;
	box-sizing: border-box;
	color: $menu-color;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: width .3s;
	width: $menu-ancho;
	z-index: 1;

	a {
		background-color: $menu-bt-fondo;
		box-sizing: border-box;
		color: $menu-bt-color;
		display: block;
		height: $menu-bt-alto;
		line-height: $menu-bt-alto;
		overflow: hidden;
		padding: 0 20px;
		position: relative;
		text-decoration: none;
		transition: padding-left .3s;
		width: $menu-ancho;

		&:hover {
			background-color: $menu-bt-hover-fondo !important;
			color: $menu-bt-hover-color !important;

			img.full_logo {
				opacity: 1;
			}
		}

		i {
			float: left;
			font-size: 28px;
			line-height: $menu-bt-alto;
			text-align: center;
			width: 32px;
		}

		img.full_logo {
			float: left;
			font-size: 28px;
			line-height: $menu-bt-alto;
			text-align: center;
			width: 100%;
			opacity: 0.5;
		}

		span {
			float: left;
			line-height: $menu-bt-alto;
			margin-left: 10px;
			transition: opacity .3s;
		}
	}

	.bt-mode {
		@include alignX;
		bottom: 20px;
		cursor: pointer;
		height: 15px;
		width: 26px;

		&:hover { color: #FFF; }

		i {
			font-size: 14px;
			left: 0;
			position: absolute;
			transition: left .3s;

			&:last-child { left: 13px; }
		}
	}

	& > ul {
		position: absolute;
	    top: $header-height;
		padding: 20px 0;
	    bottom: 55px;
	    overflow-y: scroll;
	    -webkit-box-shadow: inset 0px -27px 25px -27px rgba($menu-bt-active-fondo,1);
		-moz-box-shadow: inset 0px -27px 25px -27px rgba($menu-bt-active-fondo,1);
		box-shadow: inset 0px -27px 25px -27px rgba($menu-bt-active-fondo,1);
	}

	ul {
		display: block;
		list-style-type: none;

		li {
			box-sizing: border-box;
			margin-bottom: 5px;

			&.active {
				background-color: $menu-bt-active-fondo;
				border-left: 4px solid $color1;


				a { padding-left: 16px; }

				& > a {
					color: $menu-bt-active-color;

					img.full_logo {
						opacity: 1;
					}
				}

				ul { display: block; }

				&.arrow > a {
					&::after {
						@include arrow(#FFF, 12px, right);
						opacity: 0;
						transition: right .3s;
					}

					&.visible::after { opacity: 1; }
				}
			}
		}

		ul {
			display: none;
			margin-bottom: 10px;

			a {
				height: $menu-bt-alto * .75;
				line-height: $menu-bt-alto * .75;

				i, span { line-height: $menu-bt-alto * .75; }

				i {
					font-size: 18px;
					left: 3px;
					position: relative;
					transition: left .3s;
				}

				span {
					font-size: .9em;
				}
			}

			li { border: none !important; }
		}
	}
}

main {
	bottom: 0;
	box-sizing: border-box;
	left: 0;
	padding: 20px 20px 0;
	position: absolute;
	overflow-x: hidden;
	right: 0;
	top: $header-height;
	transition: left .3s;
}

.content-wrapper {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 70px;
	position: relative;
}

.editor-form {
	button[type=submit] {
		@include button;
	}

	& > div,
	fieldset > div {
		background-color: #F2F2F2;
		box-sizing: border-box;
		margin-bottom: 10px;
		padding: 5px;
		position: relative;

		&::after { @include clearFix; }

		input, select, textarea {
			background-color: $campo-background;
			border: 1px solid $campo-border-color;
			border-radius: 0;
			box-sizing: border-box;
			font: $campo-font;
			height: $campo-height;
			outline-color: $campo-outline-color;
			padding: 0 10px;
			width: calc(100% - 150px);
			margin: 0;
			vertical-align: middle;
			display: inline-block;

			&:disabled { color: #CCC; }
		}

		label {
			box-sizing: border-box;
			display: inline-block;
			padding-left: 7px;
			width: 150px;
		    line-height: normal;
		    vertical-align: middle;


			.slug-bt {
				background-color: transparent;
				border: none;
				color: inherit;
				cursor: pointer;
				margin-left: .75em;
				tabindex: -1;
    			width: auto;
    			height: 100%;

				&:hover { color: $color1; }

				&::after {
					content: "\f021";
					font-family: FontAwesome;
				}

				span { display: none; }
			}
		}

		select { padding: 0 0 0 10px; }

		textarea {
			min-height: 80px;
			padding: 10px;
		}

		.ckeditor {
			border: 1px solid $campo-border-color;
			box-sizing: border-box;
			width: calc(100% - 150px);
			display: inline-block;
			vertical-align: middle;

			textarea { width: 100%; }

			& > div {
				border: 0;
				box-shadow: none;
			}
		}

		.char-counter { padding-right: 65px; }

		.char-counter-num,
		.revealable-bt {
			border-left: 1px solid $campo-border-color;
			box-sizing: border-box;
			color: #888;
			height: $campo-height;
			line-height: $campo-height;
			position: absolute;
			right: 5px;
			text-align: center;
			top: 5px;
			width: 60px;
			z-index: 2;
		}

		.revealable { padding-right: $campo-height + 5; }

		.revealable-bt {
			color: #444;
			cursor: pointer;
			width: $campo-height;

			span { display: none; }
		}

	}

	fieldset {
		border: 0;

		legend {
			border-bottom: 1px solid #888;
			font-size: 1.2em;
			font-weight: normal;
			padding: 20px 0 5px;
			margin-bottom: 10px;
			text-transform: uppercase;
			width: 100%;
		}
	}

	.heading,
	.link {
		input {
			float: left;
			width: calc(100% - 150px - 165px - 5px);
		}

		select {
			/* float: right; */
			margin-left: 5px;
			width: 165px;
		}
	}

	.heading {
		input { width: calc(100% - 150px - 50px - 5px); }
		select { width: 50px; }
	}

	.input-image,
	.input-file {
		$size: 50px;

		input {
			width: calc(100% - 150px - 350px - 5px);
		}

		.download,
		.preview {
			background-color: $campo-background;
			border: 1px solid $campo-border-color;
			box-sizing: border-box;
			float: right;
			min-height: $campo-height;
			padding: 5px;
			position: relative;
			width: 350px;
			text-align: center;

			a {
				background-color: rgba(#FFF, .8);
				border-radius: $size / 2;
				box-sizing: border-box;
				color: inherit;
				display: inline-block;
				font-size: $size / 3;
				line-height: $size;
				margin: 0 10px;
				text-align: center;
				text-decoration: none;
				transition: all .25s;

				&:hover {
					background-color: rgba($boton-hover-fondo, 0.8);
					color: $boton-hover-color;
				}
			}

			div {
				@include alignXY;
			}

			img {
				background: #CCC;
				display: block;
				width: 100%;

			}
		}

		.preview {
			span { display: none; }
				a {
					width: $size;
				}
		}

		.download {
			a {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		&.cols {
			input[type=file] {
				width: calc(100% - 150px) !important;
			}
			.download,
			.preview {
				width: calc(100% - 150px) !important;
			}
		}
	}

	.cols {
		vertical-align: top;
	    display: inline-block;
	    margin-right:1%;

	    .preview  {
	    	height: 175px - 10px;
			width: 175px - 10px;

	    	img {
		    	max-height: 100%;
		    	max-width: 100%;
		    	height: auto;
		    	width: auto;
		    	margin: 0 auto;
	    	}
	    }

	    &.full {
	    	* {
	    		width: 100%;
	    	}
	    }

	    &.left {
	    	float: left;
	    }

	    &.right {
	    	float: right;
	    }
	}

    .two { @extend .cols; width: 49%; }
    .three { @extend .cols; width: 32.3%; }
    .four { @extend .cols; width: 24%; }
}

.embebido {
	border: none;
	position: fixed;
	top: 70px;
	left: 200px;
	right: 0px;
	bottom: 0px;
	height: calc(100vh - 70px);
	width: calc(100vw - 200px);
	transition: left .3s, width .3s;
}

.form-buttons {
	margin-top: 15px;
	text-align: right;

	&.hidden, & > .hidden { display: none; }

	a, button {
		@include button;

		font-size: 1em;
		height: 2em;
		line-height: 2em;
		margin-left: .5em;
		padding: 0 1em;
	}

	form { display: inline-block; }
}

.hidden { display: none; }

.listado {
	.actions-cell {
		overflow: hidden;
		padding: 0 !important;
		text-align: center;

		button {
			background-color: transparent;
			border: 0;
			border-right: 1px solid #DDD;
			box-sizing: border-box;
			color: #444;
			cursor: pointer;
			height: 34px;
			float: left;
			font-size: 17px;
			margin: 0;
			padding: 0;
			width: 34px;

			&:last-of-type { border-right: 0; }

			&:hover {
				background-color: rgba($color1, .85);
				color: $color1-contraste;
			}

			span { display: none; }

			&.locked,
			&.disabled {
				cursor: default;
				opacity: 0.25;

				&:hover {
					background-color: transparent;
					color: #444;
				}
			}
		}

		div {
			height: 34px;
			overflow: hidden;
			width: 120%;
		}
	}

	.buttons {
		margin-bottom: 15px;
		text-align: right;

		a, button {
			@include button;

			font-size: 1em;
			height: 2em;
			line-height: 2em;
			margin-left: .5em;
			padding: 0 1em;
		}
	}

	.paginacion {
		clear: both;
		float: none;
		width: 100%;
		text-align: center;

		& > div {
			float: none;
			text-align: center;
		}
	}
	.top {
		margin-bottom: 10px;
		overflow: hidden;
	}
}

.mensaje {
	@include alignXY;
	border: 5px solid #C92B2C;
	color: #C92B2C;
	font-size: 1.4em;
	margin-top: -35px;
	padding: 20px;

	&.error {
		border-color: #C92B2C;
		color: #C92B2C;

		p {
			padding-left: 70px;
		}

		i {
			@include alignY;
			font-size: 50px;
		}
	}
}

.message {
	background-color: #97ECFF;
	box-sizing: border-box;
	font-size: 1.1em;
	margin-bottom: 15px;
	padding: 10px 15px 10px 40px;
	position: relative;

	&::before {
		content: "\f129";
		display: block;
		font-family: FontAwesome;
		font-weight: normal;
		left: 15px;
		line-height: 1.5em;
		position: absolute;
		top: 10px;
	}

	&.error {
		color: #FFF;
		background-color: #C92B2C;

		&::before { content: "\f00d"; }
	}

	&.ok {
		color: #FFF;
		background-color: #5fa004;

		&::before { content: "\f00c"; }
	}

	&.warning {
		background-color: #FED557;

		&::before { content: "\f071"; }
	}

	ul {
		margin-left: 25px;
	}
}

.modal-wrapper {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
    z-index: 160;
    overflow-x: auto;
}

.modal {

    display: block;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(#000,.25);
    box-sizing: border-box;
    min-height: 20px;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    width: 40%;
    margin: 60px auto;
    min-width: 680px;

	h1 {
		background-color: $color1;
		color: $color1-contraste;
		font-size: 1.6em;
		font-weight: normal;
		line-height: 50px;
		padding: 0 55px 0 15px;
		white-space: nowrap;
	}

	.bt-close {
		border: 2px solid $color1-contraste;
		border-radius: 50%;
		box-sizing: border-box;
		color: $color1-contraste;
		display: block;
		font-size: 1.2em;
		height: 28px;
		line-height: 22px;
		position: absolute;
		right: 11px;
		text-align: center;
		//transition: all .25s;
		top: 11px;
		width: 28px;

		&:hover {
			background-color: $color2;
			border-color: $color2;
		}
	}

	.editor-form {
		min-width: 600px;

		button {
			height: $campo-height;
			width: 100%;
		}
	}

	.loading {
		background-color: rgba(#FFF, .8);
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;

		i {
			display: block;
			font-size: 2.5em;
			left: 50%;
			margin: -0.5em 0 0 -0.5em;
			position: absolute;
			top: 50%;
		}
	}

	.modal-content {
		padding: 10px;
	}
}

.modal-overlay {
	background-color: rgba(#DEDEDE, .85);
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 150;
}

.sectionInfo {
	font-size: 1em;
	font-weight: normal;
	margin: 40px 0 10px;
}

.sectionSubtitle {
	font-size: 1.2em;
	font-weight: normal;
	margin: 40px 0 10px;
}

.center {
	text-align: center;
}

.noMarginTop { margin-top:0; }
.noMarginBottom { margin-bottom:0; }

.sectionTitle {
	border-bottom: 1px solid #888;
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 20px;
	padding-bottom: 7px;
	position: relative;
	text-transform: uppercase;

	.link-back {
		@include button;

		font-size: .75em;
		padding: 0 .5em;
		position: absolute;
		right: 0;

		&::after {
			content: "\f060";
			display: block;
			font-family: FontAwesome;
			font-weight: normal;
		}

		span { display: none; }
	}
}

.sortable-fieldsets {
	list-style-type: none;

	li {
		border-left: 20px solid #F2F2F2;
		box-sizing: border-box;
		display: block;
		padding-left: 10px;
		position: relative;
		margin-bottom: 10px;

		&[hidden] { display: none; }

		fieldset > div:last-of-type { margin-bottom: 0; }

		& > i {
			color: $color1;
			display: block;
			left: -20px;
			position: absolute;
			text-align: center;
			width: 20px;
			z-index: 1;

			&.move {
				cursor: move;
				top: 50%;
				transform: translateY(-50%);
			}

			&.delete {
				bottom: 5px;
				color: #BBB;
				cursor: pointer;

				&:hover { color: $color1; }
			}
		}
	}

	button.add {
		@include button;

		background-color: #F2F2F2;
		color: inherit;
		margin-bottom: 20px;
		width: 100%;
	}

	.placeholder {
		background-color: rgba($color1, .25);
		border: 1px dashed $color1;

		&::before { display: none !important; }
	}

	.placeholder-error {
		background-color: red;
	}
}

.sortable-list {
	$altoLinea: 36px;
	$colorBorde: #CCC;

	background: linear-gradient(to bottom, #F0F0F0 0, #F0F0F0 38px, #FFF 38px, #FFF 72px);
	background-size:  100% 74px;
	background-repeat: repeat-y;

	border-bottom: 2px solid $color1;
	border-left: 1px solid $colorBorde;
	border-right: 1px solid $colorBorde;
	border-top: 1px solid $color1;
	list-style-type: none;
	overflow-x: visible;
	position: relative;


	&::before {
		background-color: $color1;
		content: "";
		display: block;
		height: 1px;
		position: absolute;
		top: 0px;
		width: 100%;
		z-index: 2;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	i.delete,
	i.edit {
		border-left: 1px solid $colorBorde;
		cursor: pointer;
		float: right;
		font-size: 16px;
		line-height: $altoLinea;
		text-align: center;
		width: $altoLinea;

		&:hover {
			background-color: rgba($color1, .85);
			color: $color1-contraste;
		}
	}

	i.move {
		color: $color1;
		cursor: move;
		display: inline-block;
		margin-right: 10px;
	}

	li {
		border-top: 1px solid $colorBorde;
		box-sizing: border-box;
		display: block;
		line-height: $altoLinea;
		padding: 0 0 0 12px;
		position: relative;
		margin: 0;

		&::before {
			background-color: $colorBorde;
			content: "";
			display: block;
			height: 1px;
			left: -100px;
			position: absolute;
			top: -1px;
			width: 100px;
		}
	}

	.placeholder {
		background-color: rgba($color1, .25);
		border: 1px dashed $color1;

		&::before { display: none !important; }
	}

	.sort-list {
		display: inline-block;
		width: calc(100% - 100px);
		padding: 8px 10px;

		img {
		    max-height: 80px;
		    max-width: 200px;
		    display: inline;
		    vertical-align: middle;
		    margin-right: 10px;
		}

		h1, h2, h3, h4, h5, h6 {
			font-weight: 400;
			display: inline-block;
		}
	}
}

.sortable-list-buttons {
	margin-top: 20px;
	text-align: right;

	button {
		@include button;
	}
}


/// VENDORS ///

/// CKEditor

.cke_dialog label { float: none; }

.ckeditor-web {

	h1, h2, h3, h4, h5 {font-weight: 400;}
	h1 {font-size: 2.5em;}
	h2 {font-size: 2em;}
	h3 {font-size: 1.5em;}
	strong {font-weight: 600;}
	ul, ol {
		padding-left: 20px;
		li {
			margin: 5px auto;
		}
	}
	p {
		margin: 10px auto;
	}

	a {
		text-decoration: underline !important;
		color: $grisOscuro;
		transition: color, 0.3s;

		&:hover {
			color: $negro;
		}
	}
}
/// Chosen (jQuery selects)

.chosen-container {
	display: inline-block;
	font-size: 1em;
	position: relative;
	user-select: none;
	vertical-align: middle;
	width: calc(100% - 150px) !important;
	zoom: 1;

	* { box-sizing: border-box; }

	a { cursor: pointer; }

	.chosen-drop {
		background: $campo-background;
		border: 1px solid #AAA;
		border-top: 0;
		box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
		left: -9999px;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 1010;
	}

	&.chosen-with-drop .chosen-drop { left: 0; }

	.search-choice .group-name, .chosen-single .group-name {
		margin-right: 4px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: normal;
		color: #999999;

		&::after {
			content: ":";
			padding-left: 2px;
			vertical-align: top;
		}
	}

	.chosen-results {
		color: #444;
		max-height: 240px;
		width: 100%;
		margin: 0 4px 4px 0;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0 0 0 4px;
		position: relative;
		-webkit-overflow-scrolling: touch;

		li {
			display: none;
			line-height: 15px;
			list-style: none;
			margin: 0;
			padding: 5px 6px;
			word-wrap: break-word;
			-webkit-touch-callout: none;

			&.active-result {
				display: list-item;
				cursor: pointer;
			}

			&.disabled-result {
				display: list-item;
				color: #ccc;
				cursor: default;
			}

			&.highlighted {
				background-color: $color1;
				color: $color1_contraste;
			}

			&.no-results {
				background: #F4F4F4;
				color: #777;
				display: list-item;
			}

			&.group-result {
				display: list-item;
				font-weight: bold;
				cursor: default;
			}

			&.group-option {
				padding-left: 15px;
			}

			em {
				font-style: normal;
				text-decoration: underline;
			}
		}
	}
}

.chosen-container-single {
	.chosen-single {
		background-color: $campo-background;
		border: 1px solid $campo-border-color;
		border-radius: 0;
		color: $campo-color;
		display: block;
		height: $campo-height;
		overflow: hidden;
		padding-left: 10px;
		position: relative;
		text-decoration: none;
		white-space: nowrap;

		abbr {
			color: #888;
			display: block;
			height: 12px;
			position: absolute;
			right: 26px;
			transform: translateY(-50%);
			top: 50%;
			width: 12px;

			&::after {
				display: block;
				content: "\f00d";
				font-family: FontAwesome;
			}

			&:hover { color: #444; }
		}

		span {
			display: block;
			overflow: hidden;
			line-height: $campo-height;
			margin-right: 26px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.chosen-default { color: #999; }

	.chosen-single-with-deselect span { margin-right: 38px; }

	&.chosen-disabled .chosen-single abbr:hover { color: #444; }

	.chosen-single div {
		color: #888;
		display: block;
		height: 18px;
		position: absolute;
		right: 0;
		transform: translateY(-30%);
		top: 50%;
		width: 18px;

		&::after {
			content: "\f0d7";
			display: block;
			font-family: FontAwesome;
			margin-top: -1px;
		}
	}

	.chosen-search {
		margin: 0;
		padding: 3px 4px;
		position: relative;
		z-index: 1010;
		white-space: nowrap;

		input[type="text"] {
			border: 1px solid #AAA;
			border-radius: 0;
			font-family: inherit;
			font-size: 1em;
			height: auto;
			line-height: normal;
			margin: 1px 0;
			outline: 0;
			padding: 4px 20px 4px 5px;
			position: relative;
			width: 100%;
		}

		&::before {
			color: #888;
			content: "\f002";
			display: block;
			font-family: FontAwesome;
			font-size: 1em;
			height: 16px;
			margin-top: 2px;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 5;
		}
	}

	.chosen-drop { margin-top: -1px; }

	&.chosen-container-single-nosearch .chosen-search {
		position: absolute;
		left: -9999px;
	}
}

.chosen-container-multi {
	.chosen-choices {
		background-color: $campo-background;
		border: 1px solid $campo-border-color;
		cursor: text;
		margin: 0;
		min-height: $campo-height;
		overflow: hidden;
		padding: 6px 8px 5px;
		position: relative;
		width: 100%;

		li {
			float: left;
			list-style: none;

			&.search-field {
				margin: 0;
				padding: 0;
				white-space: nowrap;

				input[type="text"] {
					margin: 1px 0;
					padding: 0;
					height: 25px;
					outline: 0;
					border: 0 !important;
					background: transparent !important;
					box-shadow: none;
					color: #999;
					font-size: 100%;
					font-family: sans-serif;
					line-height: normal;
					border-radius: 0;
				}
			}

			&.search-choice {
				background-color: #EEE;
				background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
				background-size: 100% 19px;
				background-repeat: repeat-x;
				background-clip: padding-box;
				border: 1px solid #AAA;
				border-radius: 3px;
				box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
				color: #333;
				cursor: default;
				line-height: 1em;
				margin: 3px 5px 3px 0;
				max-width: 100%;
				padding: 3px 20px 3px 5px;
				position: relative;

				span { word-wrap: break-word; }

				.search-choice-close {
					color: #A5A5A5;
					display: block;
					font-size: .9em;
					height: 12px;
					position: absolute;
					right: 2px;
					top: 50%;
					transform: translateY(-50%);
					width: 12px;

					&:hover { color: #696969; }

					&::after {
						display: block;
						content: "\f00d";
						font-family: FontAwesome;
					}
				}

				&.search-choice-disabled {
					background-color: #e4e4e4;
					background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
					border: 1px solid #ccc;
					color: #666;
					padding-right: 5px;
				}

				&.search-choice-focus {
					background: #d4d4d4;

					.search-choice-close { color: #696969; }
				}

			}
		}
	}

	.chosen-results {
		margin: 0;
		padding: 0;
	}

	.chosen-drop .result-selected {
		display: list-item;
		color: #ccc;
		cursor: default;
	}
}

.chosen-container-active {
	.chosen-single {
		border: 1px solid $campo-outline-color;
		box-shadow: 0 0 3px 1px $campo-outline-color;
	}

	&.chosen-with-drop .chosen-single {
		border: 1px solid #AAA;
		box-shadow: 0 1px 0 #fff inset;

		div {
			border-left: none;
			background: transparent;

			&::after { content: "\f0d8"; }
		}
	}

	.chosen-choices {
		border: 1px solid $campo-outline-color;
		box-shadow: 0 0 3px 1px $campo-outline-color;

		li.search-field input[type="text"] { color: #222 !important; }
	}
}

.chosen-disabled {
	opacity: 0.5 !important;
	cursor: default;

	.chosen-single { cursor: default; }

	.chosen-choices .search-choice .search-choice-close { cursor: default; }
}

.chosen-rtl {
	text-align: right;

	.chosen-single {
		overflow: visible;
		padding: 0 8px 0 0;

		abbr {
			right: auto;
			left: 26px;
		}

		div {
			right: auto;
			left: 3px;
		}

		span {
			margin-right: 0;
			margin-left: 26px;
			direction: rtl;
		}
	}

	.chosen-single-with-deselect span { margin-left: 38px; }

	.chosen-choices li {
		float: right;

		&.search-field input[type="text"] { direction: rtl; }

		&.search-choice {
			margin: 3px 5px 3px 0;
			padding: 3px 5px 3px 19px;

			 .search-choice-close {
				right: auto;
				left: 4px;
			}
		}
	}

	&.chosen-container-single-nosearch .chosen-search,
	.chosen-drop {
		left: 9999px;
	}

	&.chosen-container-single .chosen-results {
		margin: 0 0 4px 4px;
		padding: 0 4px 0 0;
	}

	.chosen-results li.group-option {
		padding-right: 15px;
		padding-left: 0;
	}

	&.chosen-container-active.chosen-with-drop .chosen-single div {
		border-right: none;
	}

	.chosen-search {
		input[type="text"] {
			direction: rtl;
			padding: 4px 5px 4px 20px;
		}

		&::before {
			left: 10px;
			right: auto;
		}
	}
}

/// Data-tables

.dataTable {
	box-sizing: content-box;
	border-collapse: separate;
	border-spacing: 0;
	clear: both;
	margin: 0 auto;
	width: 100%;

	thead {
		background-color: $color1;
		color: $color1-contraste;

		th { font-weight: normal; }

		th, td {
			text-align: left;
			padding: 10px 10px 10px 25px;
			//border-bottom: 1px solid #FFF;
			//


			&:active { outline: none; }
		}

		.sorting, .sorting_asc, .sorting_desc { cursor: pointer; }

		.sorting_disabled { padding-left: 12px; }

		.sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
			background-repeat: no-repeat;
			background-position: 5px center;
		}

		.sorting { background-image: url("../js/vendors/datatables/images/sort_both.png"); }
		.sorting_asc { background-image: url("../js/vendors/datatables/images/sort_asc.png"); }
		.sorting_desc { background-image: url("../js/vendors/datatables/images/sort_desc.png"); }
		.sorting_asc_disabled { background-image: url("../js/vendors/datatables/images/sort_asc_disabled.png"); }
		.sorting_desc_disabled { background-image: url("../js/vendors/datatables/images/sort_desc_disabled.png"); }
	}

	tfoot {
		background-color: $color1;
		color: $color1-contraste;

		th { font-weight: normal; }

		th, td {
			padding: 8px 10px;
			text-align: left;

			&:active { outline: none; }

			&.select-checkbox::after, &.select-checkbox::before { display: none; }
		}
	}

	tbody {
		tr {
	  		background-color: #FFF;

			&.selected, & > .selected { background-color: rgba($color1, .3); }
		}

		th, td { padding: 8px 10px; }

		img {
			max-height: 80px;
			max-width: 200px;
		}
	}

	th, td {
		box-sizing: content-box;

		a {
			text-decoration: none;
			color: $color1;

			&:hover {
				border-bottom: 1px solid $color1;
			}
		}

		&.dt-left, &.dt-head-left, &.dt-body-left { text-align: left; }
		&.dt-center, &.dt-head-center, &.dt-body-center, &.dataTables_empty { text-align: center; }
		&.dt-right, &.dt-head-right, &.dt-body-right { text-align: right; }
		&.dt-justify, &.dt-head-justify, &.dt-body-justify { text-align: justify; }
		&.dt-nowrap, &.dt-head-nowrap, &.dt-body-nowrap { white-space: nowrap; }

		&.select-checkbox {
			cursor: pointer;
			min-width: 33px;
			padding: 0;
			position: relative;
			width: 33px !important;

			&::before, &::after {
				box-sizing: border-box;
				display: block;
				height: 14px;
				left: 50%;
				position: absolute;
				top: 1.2em;
				width: 14px;
			}

			&::after {
				color: black;
				display: none;
				content: "\f00c";
				font-family: FontAwesome;
				margin-top: -6px;
				margin-left: -6px;
				text-align: center;
			}

			&::before {
				border: 1px solid black;
				border-radius: 2px;
				content: '';
				margin-top: -6px;
				margin-left: -7px;
			}
		}
	}

	th.select-checkbox {
		&::after { color: $color1-contraste; }
		&::before { border-color: $color1-contraste; }
	}

	tr.selected .select-checkbox::after, tr > .selected.checkbox::after { display: block; }

	&.row-border tbody, &.display tbody {
		th, td { border-top: 1px solid #ddd; }
		tr:first-child th, tr:first-child td { border-top: none; }
	}

	&.cell-border tbody {
		th, td {
			border-top: 1px solid #ddd;
			border-right: 1px solid #ddd;

			&:first-child { border-left: 1px solid #ddd; }
		}
	}

	&.fixedHeader-floating {
		position: fixed;
		background-color: white;

		&.no-footer { border-bottom-width: 0; }
	}

	&.fixedHeader-locked {
		position: absolute;
		background-color: white;
	}

	&.stripe tbody tr.odd,
	&.display tbody tr.odd {
		background-color: #f9f9f9;

		&.selected, & > .selected { background-color: rgba($color1, .4); }
	}

	&.hover tbody tr,
	&.display tbody tr {
		&:hover { background-color: #F6F6F6; }
		&:hover.selected, & > .selected:hover { background-color: rgba($color1, .5); }
	}

	&.order-column tbody tr,
	&.display tbody tr {
		& > .sorting_1, & > .sorting_2, & > .sorting_3 { background-color: #FAFAFA; }

		&.selected {
			& > .sorting_1, & > .sorting_2, & > .sorting_3 { background-color: rgba($color1, .38); }
		}

		& > .selected { background-color: rgba($color1, .38); }
	}

	&.order-column.stripe tbody tr,
	&.display tbody tr {
		&.odd {
			& > .sorting_1 { background-color: #F1F1F1; }
			& > .sorting_2 { background-color: #F3F3F3; }
			& > .sorting_3 { background-color: whitesmoke; }
		}

		&.even {
			& > .sorting_1 { background-color: #FAFAFA; }
			& > .sorting_2 { background-color: #FCFCFC; }
			& > .sorting_3 { background-color: #FEFEFE; }
		}

		&.selected {
			& > .sorting_1 { background-color: rgba($color1, .25); }
			& > .sorting_2 { background-color: rgba($color1, .15); }
			& > .sorting_3 { background-color: rgba($color1, .10); }
		}

		& > .selected { background-color: rgba($color1, .25); }
	}

	&.order-column.hover tbody > tr,
	&.display tbody > tr {
		&:hover {
			& > .sorting_1 { background-color: #EAEAEA; }
			& > .sorting_2 { background-color: #ECECEC; }
			& > .sorting_3 { background-color: #EFEFEF; }

			&.selected {
				& > .sorting_1 { background-color: rgba($color1, .35); }
				& > .sorting_2 { background-color: rgba($color1, .25); }
				& > .sorting_3 { background-color: rgba($color1, .20); }
			}
		}

		& > .selected.hover { background-color: rgba($color1, .45); }
	}

	&.compact {
		thead th, thead td { padding: 4px 17px 4px 4px; }
		tfoot th, tfoot td { padding: 4px; }
		tbody th, tbody td { padding: 4px; }
	}

	&.no-footer { border-bottom: 2px solid $color1; }
	&.nowrap th, &.nowrap td { white-space: nowrap; }
}

.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
	zoom: 1;

	&::after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}

	.dataTables_length { float: left; }

	.dataTables_filter {
		float: right;
		text-align: right;

		input { margin-left: 0.5em; }
	}

	.dataTables_info {
		clear: both;
		float: left;
		padding-top: 0.755em;
	}

	.dataTables_paginate {
		float: right;
		text-align: right;
		padding-top: 0.25em;

		.paginate_button {
			border: 1px solid transparent;
			border-radius: 2px;
			box-sizing: border-box;
			cursor: pointer;
			color: #333 !important;
			display: inline-block;
			margin-left: 2px;
			min-width: 1.5em;
			padding: 0.5em 1em;
			text-align: center;
			text-decoration: none !important;

			&:active {
				background-color: #2b2b2b;
				background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
				box-shadow: inset 0 0 3px #111;
				outline: none;
			}

			&:hover {
				background-color: #585858;
				background: linear-gradient(to bottom, #585858 0%, #111 100%);
				border: 1px solid #111;
				color: white !important;
			}

			&.current, &.current:hover {
				background-color: white;
				background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
				border: 1px solid #979797;
				color: #333 !important;
			}

			&.disabled, &.disabled:hover, &.disabled:active {
				background: transparent;
				border: 1px solid transparent;
				box-shadow: none;
				color: #666 !important;
				cursor: default;
			}
		}

		.ellipsis { padding: 0 1em; }
	}

	.dataTables_processing {
		background-color: white;
		background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
		font-size: 1.2em;
		height: 40px;
		left: 50%;
		margin-left: -50%;
		margin-top: -25px;
		padding-top: 20px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100%;
	}

	.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_processing, .dataTables_paginate {
		color: #333;
	}

	.dataTables_scroll {
		clear: both;

		div.dataTables_scrollBody {
			*margin-top: -1px;
			-webkit-overflow-scrolling: touch;

			th > div.dataTables_sizing, td > div.dataTables_sizing {
				height: 0;
				margin: 0 !important;
				overflow: hidden;
				padding: 0 !important;
			}
		}
	}

	&.no-footer .dataTables_scrollBody { border-bottom: 2px solid $color1; }
	&.no-footer div.dataTables_scrollHead table, &.no-footer div.dataTables_scrollBody table { border-bottom: none; }

	& span.select-info, & span.select-item { margin-left: 0.5em; }
}

.dt-button-info {
	position: fixed;
	top: $header-height + 200px;
	left: calc(50% - #{$menu-ancho / 2});
	margin-left: -20px;
	background: #FFF;
	padding: 25px 35px;
	box-shadow: 1px 2px 20px rgba($menu-bt-active-fondo, 0.5);

	h2 {
		margin-bottom: 15px;
		font-weight: 500;
		text-transform: uppercase;
	}

	&:after,
	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&:before {
		position: fixed;
		background: rgba($menu-bt-active-fondo, 0.2);
	}
}

/// Font-icon-picker
.fip-grey.icons-selector .selector {
	border: 1px solid $campo-border-color;
}

.fip-grey.icons-selector .selector-button {
	background-color: #FFF;
	border-left: 1px solid $campo-border-color;
}
