@import 'b-opciones';

html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset, iframe {
	margin: 0;
	padding: 0;
}

img { border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }

[hidden] { display: none; }

html { font-size: 100%; height: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
a, button { outline: 0; }
textarea { resize: none; }

::selection { background: $color1; color: $color1-contraste; text-shadow: none; }

body {
	background: $body-fondo;
	color: $body-color;
	font: $body-font;
	min-height: 100%;
	min-width: 980px;
	overflow-y: hidden;
	position: relative;
}

.aviso {
	background-color: #FFFFE7;
	border-bottom: 1px #888 solid;
	box-sizing: border-box;
	color: #444;
	font: 9pt Arial, Helvetica, sans-serif;
	padding: 9px 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 10;

	a { color: inherit; }
	i { margin-right: 3px; }
}
