@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import 'font-awesome/font-awesome';
@import 'b-opciones';
@import 'b-mixins';
@import 'b-base';

footer {
	bottom: 0;
	box-sizing: border-box;
	height: $footer-height;
	position: absolute;
	width: 100%;

	.euphorbia { @include alignXY; }
}

main {
	@include alignXY;

	overflow: hidden;
	text-align: center;
	width: 400px;

	a {
		color: inherit;
		font-size: .9em;
		text-decoration: none;

		&:hover {
			color: $color1;
			text-decoration: underline;
		}
	}

	header {
		background-color: $login-cabecera-fondo;
		color: $login-cabecera-color;
		position: relative;
		margin: 0;
		padding: 15px 0 10px;

		h1, h2 { font-weight: 400; }

		h2 {
			border-top: 2px solid $color1-contraste;
			font-size: 1.4em;
			margin: 15px 80px 0;
			padding-top: 8px;
			text-transform: uppercase;
		}

		img {
			display: block;
			max-height: 80px;
			max-width: 320px;
			margin: 0 auto;
		}
	}

	form {
		background-color: #EEE;
		border: 1px solid #DEDEDE;
		border-top: 0;
		margin-bottom: 10px;
		padding: 15px;

		button {
			background-color: $boton-fondo;
			border: 0;
			border-radius: 2px;
			color: $boton-color;
			cursor: pointer;
			font-family: inherit;
			font-size: 1.2em;
			height: 40px;
			margin-top: 5px;
			text-transform: uppercase;
			transition: background-color .3s;
			width: 100%;

			&:hover { background-color: $boton-hover-fondo; }
		}

		label { display: none; }

		input {
			background-color: #FFF;
			border: 1px solid #DEDEDE;
			box-sizing: border-box;
			color: inherit;
			font-family: inherit;
			font-size: 1.1em;
			height: 40px;
			line-height: 40px;
			margin-bottom: 15px;
			outline-color: $color1;
			padding: 0 5px;
			text-align: center;
			width: 100%;
		}
	}

	.error {
		background-color: #C92B2C;
		box-sizing: border-box;
		color: #FFF;
		font-weight: 600;
		padding: 15px;
		position: relative;

		a {
			color: inherit;
			font: inherit;
			text-decoration: underline;

			&.full-width button { width: 100%; }

			&.middle-width {
				button {
					float: left;
					margin-right: 4%;
					width: 48%;
				}

				&:nth-child(2n) button { margin-right: 0; }
			}
		}

		button {
			background-color: rgba(#FFF, .5);
			border: 0;
			border-radius: 2px;
			box-sizing: border-box;
			color: #C92B2C;
			cursor: pointer;
			display: inline-block;
			font-family: inherit;
			font-size: 1.05em;
			font-weight: 600;
			height: 24px;
			margin-top: 20px;
			padding: 0 15px;
			text-transform: uppercase;
			transition: background-color .25s;

			&:hover { background-color: #FFF; }
		}

		div { overflow: hidden; }

		i { margin-right: 5px; }
	}
}
