@mixin alignXY() {
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
}

@mixin alignX() {
	display: block;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

@mixin alignY() {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin arrow($color, $size, $position) {
	border: $size solid transparent;
	border-#{$position}-color: $color;
	content: "";
	display: block;
	height: 0;
	position: absolute;
	width: 0;

	left: auto;
	right: auto;
	top: auto;
	bottom: auto;

	#{$position}: 0;

	@if $position == left or $position == right {
		margin: -$size 0 0 0;
		top: 50%;
	}
	@else {
		margin: 0 0 0 -$size;
		left: 50%;
	}
}

@mixin button() {
	background: $boton-fondo;
	border: $boton-border;
	color: $boton-color;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	height: 2em;
	line-height: 2em;
	padding: 0 1em;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background: $boton-hover-fondo !important;
		border: $boton-hover-border !important;
		color: $boton-hover-color !important;
	}
}

@mixin clearFix() {
	clear: both;
	content: "";
	display: block;
}
