$color1:black;
$color1-contraste: #FFF;
$color2: #2F323B;
$color2-contraste: #AAA;

$logoLeft: 40px;

$body-fondo: #FFF;
$body-color: #444;
$body-font: 400 10pt "Open Sans", sans-serif;

$header-height: 70px;
$header-fondo: $color1;
$header-texto-color: #FFF;

$footer-height: 50px;
$footer-fondo: transparent;
$footer-color: #444;

$pieFondo: #EDF6F7;
$pieTextoColor: #333;
$pieTextoFuente: bold 12px Arial, sans-serif;
$pieLinkColor: #333;

$boton-hover-border: 0;
$boton-hover-fondo: $color1;
$boton-hover-color: $color1-contraste;
$boton-border: 0;
$boton-fondo: $color2;
$boton-color: #FFF;

$campo-background: #FFF;
$campo-border-color: #CCC;
$campo-color: #444;
$campo-font: 1em "Open Sans", sans-serif;
$campo-height: 40px;
$campo-outline-color: $color1;

$login-cabecera-fondo: $color1;
$login-cabecera-color: $color1-contraste;

$menu-ancho: 200px;
$menu-ancho-collapsed: 60px;
$menu-color: $color2-contraste;
$menu-fondo: $color2;

$menu-bt-alto: 60px;
$menu-bt-color: $menu-color;
$menu-bt-fondo: transparent;
$menu-bt-hover-color: $color1-contraste;
$menu-bt-hover-fondo: $color1;
$menu-bt-active-color: $color1-contraste;
$menu-bt-active-fondo: darken($menu-fondo, 10%);

$navegacionFondo: #DDD;
$navegacionTextoColor: #333;
$navegacionTextoFuente: 10pt Arial, Helvetica, sans-serif;

$tablaCabFondoColor: #E3E3E3;
$tablaCabTextoColor: #000;
$tablaCelFondoColor1: #F9F9F9;
$tablaCelFondoColor2: #FEFEFE;
$tablaCelFondoColorResaltado: #D7DDF2;
$tablaCelTextoColorResaltado: #000;

$tituloColor: #16286A;
$tituloFuente: bold 14pt Lucida Sans Unicode, Lucida Grande, sans-serif;
