@import '../../../../css/b-opciones';

.fm-container {
    * {
        font-family: "Open Sans", sans-serif;
    }
    background-color: #F4F1ED;
    .fm-header .breadcrumbs {
        color: #000000;
    }
    .fm-splitter .splitter-bar-vertical {
        width: 6px;
    }
    .fm-filetree {
        color: #333;
        background-color: #fff;
        border: 0px solid #ccc;
    }
    .fm-fileinfo {
        border: 0px solid #ccc;
        background-color: #fff;
    }
    .fm-preview {
        .fm-preview-title h1 {
            color: #8fabc6;
        }
        .fm-preview-details td {
            color: #333;
            border-bottom: 0px dotted #ccc;
        }
    }
    .fm-preview-view-panel {
        margin-top: 40px;
    }
    button {
        color: #777777;
        background-color: #ffffff;
        padding: 0 8px;
        line-height: 40px;
        min-width: 40px;
        box-sizing: border-box;
        margin: 0 0px;
        border: 0px solid #dcdcdc;
        border-radius: 0;
        &:hover {
            background-color: #dfdfdf;
        }
    }
    #filepath {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    #folder-info {
        color: #777;
    }

    #summary,
    #link-to-project {
        
    }
    #link-to-project {
        display: none;        
    }
    .search-box input {
        background-color: #ffffff;
        &:focus {
            background-color: #f5f5f5;
        }
    }
    .drag-helper-grid {
        width: 142px;
    }
    .view-items {
        .grid li {
            width: 142px;
            &.drop-hover {
                background-color: #e0e0e0;
            }
        }
        .list {
            tr.drop-hover {
                background-color: #e0e0e0;
            }
            td {
                border-bottom: 0px dotted #ccc;
            }
        }
    }
}

.fm-popup.alertify .fm-fileupload-container #total-progress {
    background-color: #A7A1C6;
    .progress-bar {
        background-color: #294750;
    }
}

.fm-container .drag-helper-grid {
    width: 142px;
}
