@import "../../../../css/b-opciones";

.fm-container {
  * {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  }
  background-color: #294750;
  .fm-header .breadcrumbs {
    color: #fff;
  }
  .fm-splitter .splitter-bar-vertical {
    width: 10px;
  }
  .fm-filetree {
    border: none;
    color: #A0C8D3;
    background-color: #436670;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .fm-fileinfo {
    border: none;
    background-color: #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .fm-preview {
    .fm-preview-title h1 {
      color: #444;
    }
    .fm-preview-details td {
      color: #333;
      border-bottom: 1px dotted #efefef;
    }
  }
  button {
    color: #333;
    background-color: #E8E8E8;
    padding: 0.2em 0.3em;
    border: 1px solid #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    &:hover {
      background-color: #C3D2F7;
    }
  }
  #filepath {
    background-color: #F7F7F7;
    border: 1px solid #fff;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  #folder-info {
    color: #658189;
  }
  #summary {
    background: url(../images/summary.png) no-repeat center center;
  }
  #link-to-project {
    background: transparent url(../images/fmlogo.png) no-repeat 0 0;
  }
  .search-box input {
    background-color: #294750;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    &:focus {
      background-color: #C6C6C6;
    }
  }
  .drag-helper-grid {
    width: 196px;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
  }
  .view-items {
    .grid li {
      width: 196px;
      -webkit-transition: background 0.3s linear;
      -moz-transition: background 0.3s linear;
      -o-transition: background 0.3s linear;
      transition: background 0.3s linear;
      &.drop-hover {
        background-color: #a3a39f;
      }
    }
    .list {
      tr.drop-hover {
        background-color: #a3a39f;
      }
      td {
        border-bottom: 1px dotted #efefef;
      }
    }
  }
}

.fm-popup.alertify .fm-fileupload-container #total-progress {
  background-color: #A1ADE2;
  .progress-bar {
    background-color: #333;
  }
}

.fm-container .drag-helper-grid {
  width: 196px;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}