@import '../../../../css/b-opciones';

.fm-container {
    * {
        font-family: Oxygen, Lucida Sans Unicode, Lucida Grande, sans-serif;
    }
    background-color: #F4F1ED;
    .fm-header .breadcrumbs {
        color: #000000;
    }
    .fm-splitter .splitter-bar-vertical {
        width: 6px;
    }
    .fm-filetree {
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
    }
    .fm-fileinfo {
        border: 1px solid #ccc;
        background-color: #fff;
    }
    .fm-preview {
        .fm-preview-title h1 {
            color: #8fabc6;
        }
        .fm-preview-details td {
            color: #333;
            border-bottom: 1px dotted #ccc;
        }
    }
    button {
        color: #777777;
        background-color: #ffffff;
        padding: 0.1em 0.3em;
        border: 1px solid #dcdcdc;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        &:hover {
            background-color: #dfdfdf;
        }
    }
    #filepath {
        -webkit-border-top-left-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-topleft: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    #folder-info {
        color: #777;
    }

    #summary,
    #link-to-project {}
    .search-box input {
        background-color: #ffffff;
        &:focus {
            background-color: #f5f5f5;
        }
    }
    .drag-helper-grid {
        width: 142px;
    }
    .view-items {
        .grid li {
            width: 142px;
            &.drop-hover {
                background-color: #e0e0e0;
            }
        }
        .list {
            tr.drop-hover {
                background-color: #e0e0e0;
            }
            td {
                border-bottom: 1px dotted #ccc;
            }
        }
    }
}

.fm-popup.alertify .fm-fileupload-container #total-progress {
    background-color: #A7A1C6;
    .progress-bar {
        background-color: #294750;
    }
}

.fm-container .drag-helper-grid {
    width: 142px;
}
